/* style.css */

/* Reset một số thuộc tính mặc định */
body, h1, h2, h3, p, table {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}



/* Định dạng cho body */
body {
    background-color: #f7f8f3;
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.sidebar ul li {
    margin-bottom: 10px;
    font-size: 1em;
}

.sidebar ul li a { 
    text-decoration: none;
    color: #002c3e;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}
.sidebar h2 { 
    font-size: 1.45em;
    margin-bottom: 50px;
    color: #444;
}
.sidebar {
    width: 250px;
    background-color: #f7f8f3;
    padding: 20px;
    border-right: 1px solid #ddd;
}
.thong_tin_admin{ 
    align-items: end;
    margin-top: 27rem;

}
/* Định dạng cho main */
main {
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
/* Định dạng cho các section */


/* Định dạng cho bảng */
section {
        max-width: 1500px;
        height: auto;
        margin-bottom: 10px;
        background: #ffffff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: inline-flex;
        position:sticky;
        background-color: #f7f8f3;
        font-size: larger;
    }

.container{text-align: center; justify-content: space-between; display: flex;}
.container {
    display: grid;
    grid-template-columns: repeat(5, 15rem); /* Sử dụng repeat() để đơn giản hóa */
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    padding: 5px;
}
.card {
    margin: 15px;
    padding: 15px;
    width: fit-content; /* Đặt chiều rộng cho thẻ card */
    text-align: center;
    font-size: 12px;
}

.card img {
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá chiều rộng của thẻ card */
    height: 75%;
    object-fit: cover;
}
.card h2 {
font-size: 18px;
margin: 10px 0 5px;
color: #002c3e;
}
.card h3 {
    font-size: 16px;
    color: #002c3e;
}

.card a {
    text-decoration: none;
}


/* Định dạng cho footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f7f8f3;
    color: #002c3e;
    position: relative;
    bottom: 0;
    width: 100%;
}

